# .gitignore

# Node.js
node_modules/
build/
dist/
*.log

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
*.class
*.jar
*.war
*.ear
target/

# Spring Boot
*.properties
*.yml
*.yaml
logs/
